.filterBtn {
    display: flex;
    justify-content: center;
    button {
        margin: 1em; 
    }
}

.movieObject {
    border: .5em solid darkgray;
    margin: 1em;
    width: 25em;
    align-content: center;
}

#cards {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    // width: 80%;
    height: 50%;
   
}
.poster{
    object-fit: fill;
    overflow: hidden;
    
}