<nav class="navbar justify-content-between">
    <input id="search" class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
</nav>
<button id="auth-btn" type="button">Sign in with Google</button>
<button id="signout-btn" type="button">Sign out</button>

<div class="filterBtn">
    <button type="button" class="btn btn-primary show-unwatched" id="untracked">Show Untracked</button>
    <button type="button" class="btn btn-primary show-watched" id="unwatched">Show Unwatched</button>
    <button type="button" class="btn btn-primary show-watched" id="watched">Show Watched</button>
    <button type="button" class="btn btn-primary show-watched" id="favorites">Favorites</button>
</div>

